body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
}

header {
    background-color: #003366; 
    color: #ffcc00; 
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    animation: fadeIn 2s ease-in-out;
}

header h2 {
    margin: 5px 0;
    font-size: 1.5em;
    animation: fadeIn 2.5s ease-in-out;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    animation: fadeIn 3s ease-in-out;
}


.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #0066cc; 
    margin: 20px 0;
}

.hero-section img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.hero-section img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


nav {
    background-color: #003366; 
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ffcc00; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffffff; 
}


footer {
    background-color: #003366; 
    color: #ffcc00; 
    text-align: center;
    padding: 20px 0;
}

footer p {
    font-size: 14px;
    margin: 0;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
